<% if @error_message %>
  <div>
    <%= @error_message %>
  </div>
<% end %>

<h1>ユーザー作成</h1>

<%= form_with url: "/users/create", method: :get, local: true do |f| %>
<p>ユーザー名</p>
<%= f.text_field :name %>
<p>メールアドレス</p>
<%= f.text_field :email %>
<p>パスワード</p>
<%= f.text_field :password %>
  <%= f.submit :新規登録 %>
<% end %>