<h1 class="mx-auto" style="width: 200px;">ドル探</h1>
<div class="mx-auto" style="width: 200px;">
<%= form_with url: "/homes/search", method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :検索 %>
<% end %>
</div><br><br>

<h3>記事</h3>

<div>
<% @posts.each do |post| %>
  <div>
    <%=post.created_at.to_s(:datetime_jp)%><br>
    <%=post.user.name%><br>
    <%= link_to(post.content, "#") %>
  </div>
<% end %>
</div><br><br>

<div class="mx-auto" style="width: 200px;">
<h5>新規投稿</h5>
<%= form_with url: "/homes/create", method: :post, local: true do |f| %>
  <%= f.text_area :content %>
  <%= f.submit :投稿 %>
<% end %>
</div>

