<h5 class="mx-auto" style="width: 300px;">"<%=@result%>" の検索結果 <%=@lives.count%>件</h5>

<br>

<div class="mx-auto" style="width: 200px;"><%=@error_message%></div>

<div class = display>
<% @lives.each do |live| %>
<div class="box2">
<div class = "title"><%=@date %>　<%=live.time %></div><br>
<div><%=live.title %></div><br>
<div><%=live.place %></div><br>
<div>
<%live.performers.each do |performer| %>
<%=performer.performer %>.
<% end %>
</div><br>
<div><%= button_to '予約する',live.href%></div>
</div><br>
<% end %>
</div>