<h5 class="mx-auto" style="width: 200px;">検索結果</h5>

<br>

<table>
  <tbody>
      <tr>
      <% @lives.each do |live| %>
      <td><%=live.title %></td>
      <td><%=live.date %></td>
      <td><%=live.time %></td>
      <td><%=live.place %></td>
      <td><%live.performers.each do |performer| %></td>
      <td><%=performer.performer %></td>
      <% end %>
      <td><%= button_to '予約する',live.href%></td>
      </tr>
      <% end %>
  </tbody>
</table>