<h5 class="mx-auto" style="width: 200px;">"<%=@result%>" の検索結果</h5>

<br>

<% @lives.each do |live| %>
<div class="box2">
<table>
<tr><td><%=live.date %>　<%=live.time %></td></tr>
<tr><td><%=live.title %></td></tr>
<tr><td><%=live.place %></td></tr>
<tr><td>
<%live.performers.each do |performer| %>
<%=performer.performer %>.
<% end %>
</td></tr>
<tr><th><%= button_to '予約する',live.href%></th></tr>
</table>
</div>
<% end %>