<h5 class="mx-auto" style="width: 300px;">"<%=@result%>" の検索結果 <%=@lives.count%>件</h5>

<br>

<div class="mx-auto" style="width: 200px;"><%=@error_message%></div>

<div class = display>
<% @lives.each do |live| %>
<div class="box2">
<%#日付データにフォーマットを適用して@dateに入れる%>
<%@date=live.date%>
<%@date=@date.strftime("%-Y年%-m月%-d日")%>
<%#-----------------------------%>
<div><i class="fa fa-calendar-o"></i> <%=@date %></div>
<div><i class="fa fa-clock-o"></i> <%=live.time %></div><br>
<div><i class="fa fa-asterisk"></i> <%=live.title %></div><br>
<div><i class="fa fa-map-marker"></i> <%=live.place %></div><br>
<div>
<%live.performers.each do |performer| %>
<%= button_to performer.performer, live.href%>
<% end %>
</div><br>
<div><%= link_to("詳しく見る", "/homes/#{live.id}") %></div>
</div><br>
<% end %>
</div>