<h5 class="mx-auto" style="width: 200px;">"<%=@result%>" の検索結果</h5>

<br>

<table>
<% @lives.each do |live| %>
<tr><th>タイトル</th><td><%=live.title %></td></tr>
<tr><th>日付</th><td><%=live.date %></td></tr>
<tr><th>開演時刻</th><td><%=live.time %></td></tr>
<tr><th>場所</th><td><%=live.place %></td></tr>
<tr><th>キーワード</th>
<td>
<%live.performers.each do |performer| %>
<%=performer.performer %>.
<% end %>
</td></tr>
<tr><th><%= button_to '予約する',live.href%></th></tr>
<% end %>
</table>