<div class = display>
<div class="box2">
<%#日付データにフォーマットを適用して@dateに入れる%>
<%@date=@live.date.strftime("%-Y年%-m月%-d日")%>
<%#-----------------------------%>

<div><i class="fa fa-calendar-o"></i> <%=@date %></div>
<div><i class="fa fa-clock-o"></i> <%=@live.time %></div><br>
<div><i class="fa fa-asterisk"></i> <%=@live.title %></div><br>
<div><i class="fa fa-map-marker"></i> <%=@live.place %></div><br>
<div>
<%@live.performers.each do |performer| %>
<%= button_to performer.performer,"/homes/search_button", { method: :get, params: {name: performer.performer} } %>
<% end %>
</div><br>
</div><br>
</div>