<div>
<div class="box2">
<%#日付データにフォーマットを適用して@dateに入れる%>
<%@date=@live.date.strftime("%-Y年%-m月%-d日")%>
<%#-----------------------------%>
<div><i class="fa fa-calendar-o"></i> <%=@date%></div>
<div><i class="fa fa-clock-o"></i> <%=@live.time %></div><br>
<div><i class="fa fa-asterisk"></i> <%=@live.title %></div><br>
<div><i class="fa fa-map-marker"></i> <%=@live.place %></div><br>
<div><%= link_to("地図を見る", "https://www.google.com/maps/search/?api=1&query=#{@live.place}") %></div><br>
<div>
<%@live.performers.each do |performer| %>
<%= button_to performer.performer,@live.href%>
<% end %>
</div><br>
<div><%= button_to '予約する',@live.href%></div>
<%#PV数をカウント%>
<div><i class="fa fa-eye"></i><%=  @live.impressions_count %></div>
<%#--------------%>
</div><br>
</div>