<!DOCTYPE html>
<html>
  <head>
    <title>ドル探！！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
   <header class="all-width">
   <div id="logo">
    <h5>ドル探！！</h5>
   </div>
   <nav>
    <div id="navigation">
      <i class="fa fa-search" aria-hidden="true"></i><%= link_to 'ライブ＆握手会検索', root_path %>
      <% if session[:user_id] %>
      <%= link_to 'ログアウト', "/logout" %>
      <% else %>
      <i class="fa fa-sign-in" aria-hidden="true"></i><%= link_to 'ログイン', "/login" %>
      <% end %>
    </div>
   </nav>
   </header>

   <div class="mx-auto" style="width: 200px;">
     <%=flash[:notice]%>
   </div>

   <br>

   <%= yield %>

 </body>
</html>
